<section class="cases">
  <h1 class="cases__titel">Business Cases</h1>
  <p class="cases__uppertitel">This is what we do</p>
  <p class="cases__desc">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="gallery">
    <li class="gallery__item">
      <img class="gallery__img" src="./images/cases/cases-1.jpg" alt="" />
    </li>
    <li class="gallery__item">
      <img class="gallery__img" src="./images/cases/cases-2.jpg" alt="" />
    </li>
    <li class="gallery__item">
      <img class="gallery__img" src="./images/cases/cases-3.jpg" alt="" />
    </li>
    <li class="gallery__item">
      <img class="gallery__img" src="./images/cases/cases-4.jpg" alt="" />
    </li>
    <li class="gallery__item">
      <img class="gallery__img" src="./images/cases/cases-5.jpg" alt="" />
    </li>
    <li class="gallery__item">
      <img class="gallery__img" src="./images/cases/cases-6.jpg" alt="" />
    </li>
    <li class="gallery__item">
      <img class="gallery__img" src="./images/cases/cases-7.jpg" alt="" />
    </li>
    <li class="gallery__item">
      <img class="gallery__img" src="./images/cases/cases-8.jpg" alt="" />
    </li>
  </ul>
</section>
