<section class="footer__social">
  <ul class="socials-icon">
    <li class="footer__item">
      <a
        href="#"
        class="socials__link link"
        target="_blank"
        rel="noreferrer noopener nofollow"
        aria-label="instagram"
      >
        <svg
          aria-hidden="true"
          style="position: absolute; width: 0; height: 0; overflow: hidden"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <symbol id="facebook" viewBox="0 0 32 32">
              <path
                fill="#fff"
                style="fill: var(--color2, #fff)"
                d="M31.5 16.343c0-8.563-6.938-15.5-15.5-15.5S.5 7.781.5 16.343c0 7.75 5.625 14.188 13.063 15.312V20.843H9.625v-4.5h3.938v-3.375c0-3.875 2.313-6.063 5.812-6.063 1.75 0 3.5.313 3.5.313v3.813h-1.937c-1.938 0-2.562 1.187-2.562 2.438v2.875h4.313l-.688 4.5h-3.625v10.812c7.437-1.125 13.125-7.562 13.125-15.312z"
              />
            </symbol>
          </defs>
        </svg>
      </a>
    </li>
    <li class="footer__item">
      <a
        href="#"
        class="footer__link link"
        target="_blank"
        rel="noreferrer noopener nofollow"
        aria-label="instagram"
      >
        <svg
          aria-hidden="true"
          style="position: absolute; width: 0; height: 0; overflow: hidden"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <symbol id="facebook" viewBox="0 0 32 32">
              <path
                fill="#fff"
                style="fill: var(--color2, #fff)"
                d="M31.5 16.343c0-8.563-6.938-15.5-15.5-15.5S.5 7.781.5 16.343c0 7.75 5.625 14.188 13.063 15.312V20.843H9.625v-4.5h3.938v-3.375c0-3.875 2.313-6.063 5.812-6.063 1.75 0 3.5.313 3.5.313v3.813h-1.937c-1.938 0-2.562 1.187-2.562 2.438v2.875h4.313l-.688 4.5h-3.625v10.812c7.437-1.125 13.125-7.562 13.125-15.312z"
              />
            </symbol>
          </defs>
        </svg>
      </a>
    </li>
    <li class="footer__item">
      <a
        href="#"
        class="footer__link link"
        target="_blank"
        rel="noreferrer noopener nofollow"
        aria-label="instagram"
      >
        <svg
          aria-hidden="true"
          style="position: absolute; width: 0; height: 0; overflow: hidden"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <symbol id="facebook" viewBox="0 0 32 32">
              <path
                fill="#fff"
                style="fill: var(--color2, #fff)"
                d="M31.5 16.343c0-8.563-6.938-15.5-15.5-15.5S.5 7.781.5 16.343c0 7.75 5.625 14.188 13.063 15.312V20.843H9.625v-4.5h3.938v-3.375c0-3.875 2.313-6.063 5.812-6.063 1.75 0 3.5.313 3.5.313v3.813h-1.937c-1.938 0-2.562 1.187-2.562 2.438v2.875h4.313l-.688 4.5h-3.625v10.812c7.437-1.125 13.125-7.562 13.125-15.312z"
              />
            </symbol>
          </defs>
        </svg>
      </a>
    </li>
    <li class="footer__item">
      <a
        href="#"
        class="footer__link link"
        target="_blank"
        rel="noreferrer noopener nofollow"
        aria-label="instagram"
      >
        <svg
          aria-hidden="true"
          style="position: absolute; width: 0; height: 0; overflow: hidden"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <symbol id="facebook" viewBox="0 0 32 32">
              <path
                fill="#fff"
                style="fill: var(--color2, #fff)"
                d="M31.5 16.343c0-8.563-6.938-15.5-15.5-15.5S.5 7.781.5 16.343c0 7.75 5.625 14.188 13.063 15.312V20.843H9.625v-4.5h3.938v-3.375c0-3.875 2.313-6.063 5.812-6.063 1.75 0 3.5.313 3.5.313v3.813h-1.937c-1.938 0-2.562 1.187-2.562 2.438v2.875h4.313l-.688 4.5h-3.625v10.812c7.437-1.125 13.125-7.562 13.125-15.312z"
              />
            </symbol>
          </defs>
        </svg>
      </a>
    </li>
  </ul>
  <p>Copyright © 2021 - FinanceLedger</p>
</section>
