<header class="header">

  <div class="container header-container">
    <a class="logo" href=""><span class="logo-accent">Finance</span>Ledger</a>

    <nav class="header-nav">
      <ul class="list nav-list">
        <li><a class="link" href="">Home</a></li>
        <li><a class="link" href="">About</a></li>
        <li><a class="link" href="">Cases</a></li>
        <li><a class="link" href="">Blog</a></li>
        <li><a class="link" href="">Contact</a></li>
      </ul>
    </nav>
  </div>



</header>