<section class="section__team">
  <div class="team__container">
    <p class="team__upperheader">Who we are</p>
    <h2 class="team__head">Our Professional Team</h2>
    <p class="team__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae a
      fugit id totam, sed eveniet nisi. Velit repudiandae veritatis impedit
      delectus, repellendus nisi soluta similique, officiis sapiente incidunt
      maxime nulla.
    </p>
    <ul class="team__list list">
      <li class="team__item item">
        <img
          src="./images/team/team-1.jpg"
          alt="John Doe"
          class="team__img"
          width="420"
        />
        <div class="members">
          <h3 class="members__head">John Doe</h3>
          <p class="members__text">President</p>
          <div class="social__overlay">
            <ul class="social__list">
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="team__item item">
        <img
          src="./images/team/team-2.jpg"
          alt="Jane Doe"
          class="team__img"
          width="420"
        />
        <div class="members">
          <h3 class="members__head">Jane Doe</h3>
          <p class="members__text">Vice President</p>
          <div class="social__overlay">
            <ul class="social__list">
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="team__item item">
        <img
          src="./images/team/team-3.jpg"
          alt="Steve Smith"
          class="team__img"
          width="420"
        />
        <div class="members">
          <h3 class="members__head">Steve Smith</h3>
          <p class="members__text">Marketing Head</p>
          <div class="social__overlay">
            <ul class="social__list">
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <svg class="social__icon">
                    <use href="./images/symbol-defs.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
