.header {
}
.thumb {
  position: relative;
  width: 100px;

  @extend %container;
  height: 100px;
  background-color: map-get($bgcolor, 'blue-accent');

  @include media(min, desktop) {
    background-color: teal;
  }
}
.text {
  @include position(top, 0, right, 0);
  background-color: red;
}
