.blog {
  background-color: #0284d0;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.descr {
  width: 50%;
  padding: 112px 30px 44px;
}
.blog__date {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 5px;
}

.blog__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 26px;
}

.blog__txt {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 17px;
}

img {
  display: block;
}

.blog__btn {
  display: block;
  padding: 5px;
  border: 1px solid #ffffff;
  background-color: #0284d0;
  margin-left: 0;
}
