.header {
}
.thumb {
  position: relative;

  @extend %container;
  height: 100px;
  background-color: map-get($bgcolor, 'blue-accent');
}
.text {
  @include position(top, 0, left, 0);
  background-color: red;
}
